@media only screen and (min-width: 1220px) and (max-width: 1920px) {
    /** ----------------------------------------------- Header ----------------------------------------------- */
    .logoYlista {
        width: inherit;
        padding-top: 15px;
    }
    
    .menu ul {
        width: 500px;
        margin: 0;
        position: static;
        padding-bottom: 0;
    }
    
    .btn-menu{
        font-family: Montserrat-Bold;
        font-size: 18px;
        color: #572EE5;
        text-align: center;
        line-height: 25px;
        padding: 70px;
    }
    .btn-menu h1 {
        font-size: 40px;
        padding: 15px;
    }
    
    .imgBienvenida {
        width: 389px;
        height: 188px; 
    }
    
    .searchInput {
        margin: -7px 0 25px 30%;
        width: 40%;
        height: 100%;
    }
    
    .inputText {
        width: 75%;
        font-size: 19px;
        position: relative;
        left: 5px;
        outline: none;
    }
    
    .sectionGifs h1 {
        width: 100%;
        margin: 0;
    }

    .sectionGifs .noSearch {
        left: 0;
    }
    
    
/* -------------------------- Menu hamburguesa -------------------------- */
    .menu-icon {
        display: none;
    }

    #chkbox-menu:checked ~ .menu {
        margin-top: 30px;
    }

    .div-menu {
        width: 48%;
    }

    .menu {
        display: block;
        margin-top: 0;
        width: 100%;
        height: 44px;
    }

    .menu ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
        background: #ffffff;
    }

    .menu ul li img{
        display: block;
    }

    .li-btn-agregar {
        display: block;
    }

    .menu ul li {
        align-self: center;
        color: #572EE5;
        text-transform: uppercase;
    }
    .menu li {
        font-family: Montserrat;
        font-size: 13px;
        color: #572EE5;
        letter-spacing: 0;
        text-align: center;
    }

    .lineaMenu {
        display: none;
    }
    
/* -------------------------- Fin Menu hamburguesa -------------------------- */
    .lineSectionGif {
        left: 0%;
    }
/** ----------------------------------------------- Seccion Favoritos ----------------------------------------------- */
    .favoritos {
        padding-top: 0;
    }

    .favoritos h1{
        padding-top: 0;
    }

    .sectionGifsFav {
        padding-top: 0;
    }
    
/** ----------------------------------------------- Fin Seccion Favoritos ----------------------------------------------- */
    
    
/** ----------------------------------------------- Seccion MisGifos ----------------------------------------------- */
    
    .misGifos {
        padding-top: 0;
    }
    
/** ----------------------------------------------- Fin Seccion MisGifos ----------------------------------------------- */
/** ----------------------------------------------- Seccion agregarGifos ----------------------------------------------- */
    .img-camara {
        display: flex;
    }
    
    .camara {
        display: flex;
        position: relative;
        left: 75px;
    }
    
    .escena {
        border: 1px solid #572EE5;
        width: 60%;
        height: 400px;
        position: relative;
        left: 80px;
        display: flex;
        justify-content: center;
    }

    .esquinas{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .supIzq{
        border: 2px solid #50E3C2;
        height: 25px;
        width: 25px;
        border-right-style:none;
        border-bottom-style:none;
        position: relative;
        right: 130px;
        top: 20px;
    }
    
    .supDer{
        border: 2px solid #50E3C2;
        height: 25px;
        width: 25px;
        border-left-style:none;
        border-bottom-style:none;
        position: relative;
        left: 130px;
        top: 20px;
    }
    
    .infIzq{
        border: 2px solid #50E3C2;
        height: 25px;
        width: 25px;
        border-right-style:none;
        border-top-style:none;
        justify-self: flex-end;
        position: relative;
        right: 130px;
        bottom: 20px;
    }
    
    .infDer{
        border: 2px solid #50E3C2;
        height: 25px;
        width: 25px;
        border-left-style:none;
        border-top-style:none;
        position: relative;
        left: 130px;
        bottom: 20px;
    }
    
    .contenido {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    
    .contenido h1 {
        font-family: Montserrat-Bold;
        font-size: 35px;
        color: #572EE5;
        text-align: center;
        line-height: 35px;
        padding : 5px;
    }
    .contenido span {
        color: #50E3C2;
    }
    
    .contenido p {
        font-family: Roboto-Regular;
        font-size: 20px;
        color: #000000;
        text-align: center;
        align-content: flex-end;
        line-height: 29px;
        padding: 5px;
    }
    
    
    .overlayVideo {
        display: flex;
        flex-direction: column;
        opacity: 0.6;
        position: absolute;
        background: #572EE5;
        width: 427px;
        height: 320px;
        left: 11px;    
    }
    
    .overlayVideo:hover{
        opacity: 0.7;
    }
    
    .overlayVideo p {
        font-family: Montserrat-Bold;
        font-size: 15px;
        color: #FFFFFF;
        text-align: center;
        position: relative;
        top: 40%;
    }
    
    .img-overlayVideo {
        position: relative;
        top: 40%;
    }
    
    .icon-download{
        display: none;
        position: absolute;
        top: 1%;
        left: 80%;
    }
    
    .icon-download:hover{
        opacity: 0.7;
    }
    
    .icon-link-normal {
        display: none;
        position: absolute;
        top: 1%;
        left: 90%;
    }
    
    .icon-link-normal:hover {
        opacity: 0.1;
    }
    
    .pasos {
        display: flex;
        justify-content: space-evenly;
        padding-left: 23%;
    }
    
    .pasos ul{
        display: flex;
        padding-top: 30px;
        position: relative;
    }
    
    .pasos .numbers{
        border: 1px solid #572EE5;
        border-radius: 100%;
        width: 32px;
        height: 32px;
        text-align: center;
        margin: 10px;
    }
    
    .pasos .numbersPhase {
        border-radius: 100%;
        background: #572EE5;
    }
    
    .pasos .numbersPhase p {
        color: #ffffff;
    }
    
    .pasos .liRepetirCaptura{
        border: none;
        position: absolute;
        left: 180%;
        top: 45px;
    }
    
    .pasos .liRepetirCaptura p{
        width: 157px;
        vertical-align: middle;
        box-shadow: inset 0 -3px #50E3C2;
    
    }
    
    .pasos .liCronometro {
        display: none;
        border: none;
        position: absolute;
        left: 180%;
        top: 45px;
    }
    
    .pasos .liCronometro p{
        width: 157px;
    }
    
    .pasos p{
        font-family: Roboto-Medium;
        font-size: 18px;
        color: #572EE5;
        text-align: center;
        padding-top: 5px;
    }
    
    .pasos img{
        position: relative;
        left: 15%;
    }
      
    .padrelineaAzul {
        display: flex;
        justify-content: center;
    }
    
    .lineaAzul {
        width: 65%;
        border: 4px solid #572EE5;
        border-radius: 6px;
    }
    
    video {
        display: none;
        width: 448.547px;
        height: 320px;
    }
    
    .record-actions {
        display: flex;
        justify-content: center;
        padding-top: 25px;
    }
    
    .record:hover {
        background: #572EE5;
    }
    
    .record p:hover {
        color: #ffffff;
    }
    
    .record {
        border: 1px solid #572EE5;
        border-radius: 50px;
        background: #ffffff;
    }
    
    .record p{
        font-family: Montserrat-Bold;
        font-size: 13px;
        color: #572EE5;
        letter-spacing: 0;
        text-align: center;
        padding: 20px;
    }
    
    .comenzar:hover {
        background: #572EE5;
    }
    
    .comenzar p:hover {
        color: #ffffff;
    }
    
    .comenzar {
        border: 1px solid #572EE5;
        border-radius: 50px;
        background: #ffffff;
    }
    
    .comenzar p{
        font-family: Montserrat-Bold;
        font-size: 13px;
        color: #572EE5;
        letter-spacing: 0;
        text-align: center;
        padding: 20px;
    }
    
    .subirGifo:hover {
        background: #572EE5;
    }
    
    .subirGifo p:hover {
        color: #ffffff;
    }
    
    .subirGifo {
        border: 1px solid #572EE5;
        border-radius: 50px;
        background: #ffffff;
    }
    
    .subirGifo p{
        font-family: Montserrat-Bold;
        font-size: 13px;
        color: #572EE5;
        letter-spacing: 0;
        text-align: center;
        padding: 20px;
    }
    
/** ----------------------------------------------- Fin Seccion agregarGifos ----------------------------------------------- */
    
/** ----------------------------------------------- Fin Header ----------------------------------------------- */
    
/** ----------------------------------------------- Trendings ----------------------------------------------- */
    .seccionTrendigs p {
        font-family: Roboto-Regular;
        font-size: 18px;
        color: #ffffff;
        text-align: center;
    }
    
    
    .gifContainer .gif {
        width: 260px;
        height: 200px;
    }
    
    .maxGif { 
        width: 695px;
        height: 385px;
    }
    
    .maxGifBackground .gif {
        width: 695px;
        height: 385px;
    }

    .maxGifBackground {
        padding-left: 16%;
    }
    
    .maxGifBackground .cruzMax{
        left: 1100px;
        bottom: 80%;
    }
    
    .maxGifTitle {
        font-size: 19px;
    }
    
    .fav{
        margin-left: 600px;
        border: 1px solid #CED7E1;
        border-radius: 6px;
    }
    
    .fav:hover{
        opacity: 0.7;
    }
    
    .download{
        margin-top: -34px;
        margin-left: 650px;
        border: 1px solid #CED7E1;
        border-radius: 6px;
    }
    
    .download:hover{
        opacity: 0.7;
    }

    .btn-slider img {
        width: 40px;
        height: 40px;
    }
    
    .gifs .gifContainer{
        width: 377px;
        height: 299px;
    }
    
    .gifs .gifContainer .gif{
        width: 357px;
        height: 275px;
    }
    
    .gifs .gifContainer .overlay{
        width: 357px;
        height: 275px;
    }
    
    
/** ----------------------------------------------- OVERLAY ----------------------------------------------- */
    
     .sectionGifs {
        justify-content: center;
      }
    
    .gifs {
        width: auto;
      } 
      
      .gifContainer {
        width: 270px;
        height: 210px;
      }
      
      .overlay {

        width: 260px;
        height: 200px;
      }
    
      .insideOverlay{
        width: 32px;
        height: 32px;
      }
    
      .overlay p{
        font-size: 21px;
        bottom: 5px;  
        font-family: Roboto-Bold;
        color: #ffffff;
        align-self: flex-end;
        position: absolute;
        left: 5px;
        text-align: start;
    }
    
      .overlay h1{
        font-size: 15px;
    }
    
/** ----------------------------------------------- Fin OVERLAY ----------------------------------------------- */
/** ----------------------------------------------- Fin Trendings ----------------------------------------------- */
    
/** ----------------------------------------------- Footer ----------------------------------------------- */
    
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Roboto-Regular;
        font-size: 13px;
        color: #000000;
        letter-spacing: 0;
    }
    
    .footer ul {
        margin: 0;
        height: auto;
        padding: 0;
    }
    
    .footer p{
        padding: 0;
    }
    
    .redSocial {
        margin: 0;
        right: 0;
    }
    /** ----------------------------------------------- Fin Footer ----------------------------------------------- */
}



@media only screen and (min-width: 1220px) and (max-width: 1254px){

    .gifs .gifContainer {
        width: 365px;
        height: 287px;
    }
    
    .gifs .gifContainer .overlay{
        width: 365px;
        height: 287px;
    }

}