@media only screen and (min-width: 769px) and (max-width: 1219px) {
/** ----------------------------------------------- Header ----------------------------------------------- */
.menu ul {
    width: 114%;
    margin: -20px 0px 0 -30%;
}

.menu ul li {
    right: -38px;
}

.imgBienvenida{
    width: 50%;
}

.searchInput{
    margin: -8px 0 25px 18%;
    width: 60%;
}

.lineSectionGif {
    left: 0%;
}

.sectionGifs h1 {
    width: 100%;
    margin: 0;
}

.btn-menu h1 {
    font-size: 25px;
    padding: 5px;
}

.sectionGifs .noSearch {
    left: 0;
}

.gifContainer {
    width: 231px;
    height: 145px;
}

.gifContainer .gif{
    width: 231px;
    height: 145px;
}

.gifContainer .overlay{
    width: 231px;
    height: 145px;
}

/** ----------------------------------------------- Fin Header ----------------------------------------------- */

/** ----------------------------------------------- Trendings ----------------------------------------------- */

.gifs{
    width: 100%;
    justify-content: center;
}

.gifs .gifContainer {
    width: 231px;
    height: 145px;
}

.gifs .gifContainer .overlay{
    width: 231px;
    height: 145px;
}

/** ----------------------------------------------- Fin Trendings ----------------------------------------------- */
/** ----------------------------------------------- Footer ----------------------------------------------- */

.footer ul{
    margin-left: 10%;
}

/** ----------------------------------------------- Fin Footer ----------------------------------------------- */


}

/*
*  estos media query son para las tablet que tienen width de 803px hasta 999px, y 
*  1000px hasta 1254px, ya que para tablets mas chiquitas baje el tamaño de los gifs de los trendings
*/

@media only screen and (min-width: 803px) and (max-width: 999px){
    .gifContainer{
        width: 243px;
        height: 225px;
    }

    .gifContainer .gif{
        width: 232px;
        height: 214px;
    }
    
    .gifContainer .overlay {
        width: 232px;
        height: 214px;
    }

    .gifs .gifContainer{
        width: 243px;
        height: 225px;
    }

    .gifs .gifContainer .gif{
        width: 232px;
        height: 214px;
    }
    
    .gifs .gifContainer .overlay{
        width: 232px;
        height: 214px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1254px){
    /* titulo header: */
    .btn-menu h1 {
        font-size: 35px;
        padding: 10px;
    }

    .gifContainer{
        width: 308px;
        height: 228px;
    }

    .gifContainer .gif{
        width: 290px;
        height: 214px;
    }
    
    .gifContainer .overlay {
        width: 290px;
        height: 214px;
    }

    .gifs .gifContainer{
        width: 308px;
        height: 228px;
    }

    .gifs .gifContainer .gif{
        width: 290px;
        height: 214px;
    }
    
    .gifs .gifContainer .overlay {
        width: 290px;
        height: 214px;
    }
}